.exercise-page-container {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.exercise-page-title {
    display: flex;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    justify-content: flex-start;
    background-color: rgb(0, 102, 238);
    border: 1px solid rgb(0, 102, 238);
    color: white;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
}

.exercise-page-content {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    width: 60%;
    min-width: 685px;
    max-width: 775px;

}

.create-exercise-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(246, 246, 246);
}

.create-exercise-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    width: 60%;
    max-width: 410px;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    justify-content: center;

}

.create-exercise-text > p {
    font-size: 12px;
}

.cardio-input {
    width: 90%%
}

.create-exercise-form {
    display: flex;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    flex-direction: column;
    padding: 15px 15px 15px 30px;
    gap: 10px
}

.cardio-labels {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.create-exercise-button-container {
    display: flex;
    justify-content: center;
}

.create-exercise-button {
    display: flex;
    border-radius: 3px;
    justify-content: center;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    align-items: center;
    background-color: rgb(0, 102, 238);
    border: 1px solid rgb(0, 102, 238);
    color: white;
    padding: 5px;
    font-size: 12px;
    font-weight: 600;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.create-exercise-button:hover {
    background-color: rgb(0, 72, 166);
}
