.login-form-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 8px 32px;
    padding: 30px 45px;
    border-radius: 20px;
    font-family: "Inter", Helvetica, Arial, sans-serif;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-form-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    border-top: 3px solid rgb(0, 102, 238);
}

.login-form-labels {
    display: flex;
    font-weight: 600;
    flex-direction: column;
}

.login-form-inputs {
    display: flex;
    width: 95%;
    padding: 10px
}

.login-submit-button-container {
    display: flex;
    justify-content: center;
}

.login-submit-button {
    cursor: pointer;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    border: none;
    width: 60%;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgb(0, 102, 238);
    color: white;
}

.login-submit-button:disabled:hover,
.login-submit-button:disabled {
    background-color: #8C8C8C;
    cursor: not-allowed;
}

.login-submit-button:hover {
    background-color: rgb(0, 72, 166);
}


.demo-login-container {
    display: flex;
    margin-top: 20px;
}


.demo-login-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    color: rgb(0, 102, 238);
}

.demo-login-button:hover {
    text-decoration: underline;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
